# --- Entorno virtual ---
venv/
env/
entorno/

# --- Archivos compilados de Python ---
*.pyc
*.pyo
*.pyd
__pycache__/

# --- Base de datos SQLite ---
db.sqlite3

# --- Configuración privada ---
.env

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- Archivos de migración cacheados ---
*/migrations/__pycache__/

# --- Staticfiles recolectados ---
staticfiles/

# Nota: dejamos /static y /media para subirlos al repo