{% extends "base.html" %}
{% load static %}
{% block title %}Acerca De{% endblock %}
{% block content %}s

<main class="estilo_main">
    <h2>Bienvenido a GN Games</h2>

    <p>
        Soy un joven apasionado por la programación, con un gran deseo de seguir aprendiendo y creciendo
        hasta convertirme, al menos, en un programador amateur.  
        Mi objetivo es desarrollar una sólida capacidad para programar, tanto en el ámbito del desarrollo web
        como en aplicaciones móviles.
    </p>

    <p>
        En esta página he aplicado los conocimientos que adquirí durante mi paso por el <strong>Informatorio</strong>.
    </p>

    <h3>¿Qué podrás hacer aquí?</h3>
    <ul>
        <li>Crear tu propio usuario.</li>
        <li>Iniciar y cerrar sesión.</li>
        <li>Publicar posts sobre tu videojuego favorito con una breve descripción.</li>
        <li>Comentar las publicaciones de otros usuarios.</li>
    </ul>

    <p>
        Espero que disfrutes la experiencia, explores las distintas publicaciones
        y te diviertas interactuando con la comunidad.
    </p>
  <h1 class="title">CONTACTO</h1>
            <p class="contacto-texto2">¿Querés comunicarte conmigo  ?</p>
        <section>
            <div class="redes">
                <div class="instagram">
                    <img src="{% static 'img/ig.png' %}" width="30px" alt="Instagram">
                    <a href="https://www.instagram.com/franco.n.obregon/" target="_blank">INSTAGRAM</a>
                </div>
                <div class="whatsapp">
                    <img src="{% static 'img/whap.png' %}" width="30px" alt="whatsapp">
                    <a href="https://wa.link/fzmb7u" target="_blank">3624-903391</a>
                </div>
            </div>
         </section>
</main>    
{% endblock %}