{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<style>
  .logo { 
    align-items: center;
    justify-content: flex-start;
  }

</style>
<head>
    <title>Home</title>
</head>
<main class="estilo_main">
<h1>Bienvenido a GN Games</h1>
        <img class="logo" src="{% static 'img/GNlogo.png' %}" alt="GN Logo" width="400">
        <p>Comparte tus experiencias, publica sobre videojuegos y comenta en posts de otros gamers. 
           ¡Únete a nuestra comunidad y forma parte de la diversión!</p>
           <a href="{% url 'login' %}" class="btn">Comenzar</a>
</main>
  
{% endblock %}
</html>